*{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
}

html{
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    background-color: #27292d;
}

section{
    height:100vh; 
    width: 100%;
    display: flex;
    align-items: center;
}

header{
    padding-top: 5%;
    padding-left: 10%;
}

img{
    height: 15%; 
    width: 15%;
}
.company, header{
    background-image: url(../img/desk.jfif);
    color: black;
}

.adress{
    background-image:linear-gradient(to top, #27292d, black);
}

.product{
    background-image: url(../img/sky.jfif);
    color:black;
}

.texto, .form{
  height:70vh;
  width: 50vw;
  padding-top: 10%;
  padding-left: 5%;
}

label{
  width: 90%;
  margin-left: 10%;
  display: flex;
  font-size: 80px;
 
}

input, .botao{
    height: 8vh;
    width: 80%;
    display: block;
    text-align: center;
    margin: 5px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
}
.botao{
    background-color: orange;
    color: white;
    display: unset;
    float: right;
    border: none;
    width: 30%;
    margin-right: 16%;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:orangered;
    color: bisque;
}

footer{
    padding: 25px;
    text-align: center;
    font-size: x-large;
}